/* =============
    Header
============= */

header{
    .content{
        display:grid;
        grid-template-columns: 50% 50%;

        ul{
            li{
                list-style: none;
                
                font-family: 'Tapestry', cursive;

                a{
                    text-decoration: none;
                }
            }
        }
    }
}